/ToggleProject/.ipynb_checkpoints/
/Práctica 1/Memoria/Memoria.toc
/Práctica 1/Memoria/Memoria.aux
/Práctica 1/Memoria/Memoria.bbl
/Práctica 1/Memoria/Memoria.blg
/Práctica 1/Memoria/Memoria.lof
/Práctica 1/Memoria/Memoria.log
