/Práctica 1/knime-project/.metadata/
/Práctica 1/knime-project/Change Name/
/Práctica 1/knime-project/Dataset01-HeartDisease/.artifacts/
/Práctica 1/knime-project/Dataset01-HeartDisease/.knimeLock
/Práctica 1/knime-project/Dataset01-HeartDisease/.savedWithData
/Práctica 1/knime-project/Dataset01-HeartDisease/CSV Reader (#1)/
/Práctica 1/knime-project/Dataset01-HeartDisease/Cross Valida (#54)/
/Práctica 1/knime-project/Dataset01-HeartDisease/Data Preproc (#57)/
/Práctica 1/knime-project/Dataset01-HeartDisease/Exploratory (#53)/
/Práctica 1/knime-project/Dataset01-HeartDisease/Number To String (#3)/
/Práctica 1/knime-project/Dataset01-HeartDisease/Partitioning (#2)/
/Práctica 1/knime-project/Dataset01-HeartDisease/workflow.svg
/ToggleProject/.ipynb_checkpoints/
/Práctica 1/.metadata/
